.o-navBar {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: clr(primary);
  color: clr('white');
  transform: translate(-50%, 0);

  ul {
    display: flex;
  }

  &__link {
    display: inline-block;
    width: 10rem;
    height: auto;
    padding: 10px 5px;
    border: 0;
    border-radius: 0;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;

    &.-active {
      color: clr(third);
    }

    .anticon {
      display: block;
      margin-bottom: 4px;
      font-size: 2rem;
    }
  }

  li {
    &:first-child {
      .ant-btn {
        padding-left: 10px;
      }
    }

    &:last-child {
      .ant-btn {
        padding-right: 10px;
      }
    }
  }
}
